@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
    --bright-blue: hsl(245, 75%, 52%);
    --bright-blue-hover: hsl(244, 83%, 68%);
  }

body{
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url("images/pattern-background-desktop.svg");    /*important*/
    background-repeat: no-repeat;
    background-size: cover;                                            /*important*/
    background-color: var(--pale-blue);
    display: flex;
    justify-content: center;
}

.card{
    background-color: white;
    width: 400px;
    border-radius: 20px;
}

.hero-image{
    width: 100%;
    /* image doesn't have rounder corners */
}

.title{
    font-weight: 900;
    color: var(--dark-blue);
    text-align: center;
    font-size: 30px;
}

.order-description{
    color: var(--desaturated-blue);
    padding: 15px;
    text-align: center  ;
}

.card-content{
    padding: 35px;
}

.card-price{
    display: flex;
    background-color: var(--very-pale-blue);
    padding: 15px;
    border-radius: 13px;
    align-items: center;
}

.plan-info{
    padding: 0 20px;
}

.change{
    padding-left: 38px;
    font-size: 14px;
    font-weight: 700;
    color: var(--bright-blue);
}

.card-submit{
    padding-top: 25px;
}

.proceed-button{
    padding: 15px;
    width: 100%;
    background-color: var(--bright-blue);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.cancel{
    color: var(--desaturated-blue);
    font-weight: 700;
    text-align: center;
    padding-top: 25px;
}